# Laptops market ðŸ’»
# Precio PortÃ¡tiles ðŸ’»
## Veamos cÃ³mo de buenos somos prediciendo el valor de los productos.

### Overview
Nuestro jefe estaba buscando un@s maquinas para obtener datos de la competencia y poder aplicarle los conocimientos obtenidos para asignar precios a nuestra tienda de "MERIMARKT".
Lamentablemente se habÃ­an ido de vacaciones y nos lo ha pedido a nosotr@s â€¦
ðŸ’¥ðŸª“ðŸ”ª

Nos toca arremangarnos las mangas y aplicar los conocimientos obtenidos en ML para obtener un modelo de predicciÃ³n de precios de portÃ¡tiles en funciÃ³n de sus marcas y prestaciones para poder lanzarlos a un precio competitivo al mercado.

### Evaluation
En esta tarea, utilizaremos el error absoluto medio (MAE) para evaluar la eficacia del modelo.

---
---

In [977]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error, root_mean_squared_error

#### DATASET

In [978]:
data = pd.read_csv('./data/train.csv')

In [979]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                912 non-null    int64
 1   Company           912 non-null    object
 2   Product           912 non-null    object
 3   TypeName          912 non-null    object
 4   Inches            912 non-null    float64
 5   ScreenResolution  912 non-null    object
 6   Cpu               912 non-null    object
 7   Ram               912 non-null    object
 8   Memory            912 non-null    object
 9   Gpu               912 non-null    object
 10  OpSys             912 non-null    object
 11  Weight            912 non-null    object
 12  Price_euros       912 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 92.8+ KB

In [980]:
data.describe()

                ID      Inches  Price_euros
count   912.000000  912.000000   912.000000
mean    666.192982   15.011404  1108.122873
std     384.873846    1.411744   714.597741
min       1.000000   10.100000   174.000000
25%     330.500000   14.000000   589.000000
50%     673.500000   15.600000   949.000000
75%     998.500000   15.600000  1458.500000
max    1320.000000   18.400000  6099.000000

In [981]:
data.describe(include='all')

,ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
count,912.000000,912,912,912,912.000000,912,912,912,912,912,912,912,912.000000
unique,NaN,19,475,6,NaN,35,104,8,36,91,9,158,NaN
top,NaN,Lenovo,Inspiron 3567,Notebook,NaN,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg,NaN
freq,NaN,208,21,522,NaN,346,142,434,293,199,746,86,NaN
mean,666.192982,NaN,NaN,NaN,15.011404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1108.122873
std,384.873846,NaN,NaN,NaN,1.411744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,714.597741
min,1.000000,NaN,NaN,NaN,10.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174.000000
25%,330.500000,NaN,NaN,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,589.000000
50%,673.500000,NaN,NaN,NaN,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,949.000000
75%,998.500000,NaN,NaN,NaN,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1458.500000
max,1320.000000,NaN,NaN,NaN,18.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6099.000000

In [982]:
data.head()

,ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1002,Dell,Inspiron 5567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R7 M445,Windows 10,2.36kg,749.00
1,867,Asus,X541NA (N4200/4GB/1TB/W10),Notebook,15.6,1366x768,Intel Pentium Quad Core N4200 1.1GHz,4GB,1TB HDD,Intel HD Graphics 505,Windows 10,2kg,449.00
2,966,Toshiba,Portege Z30-C-1CW,Notebook,13.3,Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 7,1.2kg,1460.00
3,767,Dell,Alienware 17,Gaming,15.6,IPS Panel 4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,2868.99
4,1241,Dell,Latitude E7270,Ultrabook,12.5,Full HD / Touchscreen 1920x1080,Intel Core i5 6300U 2.4GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 7,1.26kg,1713.37

#### DATA CLEANING

In [983]:
data = data.rename(columns=str.lower)

In [984]:

data = data.rename(columns={'price_euros' : 'price'})

In [985]:
data = data.drop('id', axis=1)

In [986]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           912 non-null    object
 1   product           912 non-null    object
 2   typename          912 non-null    object
 3   inches            912 non-null    float64
 4   screenresolution  912 non-null    object
 5   cpu               912 non-null    object
 6   ram               912 non-null    object
 7   memory            912 non-null    object
 8   gpu               912 non-null    object
 9   opsys             912 non-null    object
 10  weight            912 non-null    object
 11  price             912 non-null    float64
dtypes: float64(2), object(10)
memory usage: 85.6+ KB

In [987]:
# pd.get_dummies(data['company'], dtype=int)

In [988]:
data_object = 'company'
data = pd.concat([data, pd.get_dummies(data[data_object], prefix=data_object, dtype=int)], axis=1)
data.drop(columns=[data_object], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product            912 non-null    object
 1   typename           912 non-null    object
 2   inches             912 non-null    float64
 3   screenresolution   912 non-null    object
 4   cpu                912 non-null    object
 5   ram                912 non-null    object
 6   memory             912 non-null    object
 7   gpu                912 non-null    object
 8   opsys              912 non-null    object
 9   weight             912 non-null    object
 10  price              912 non-null    float64
 11  company_Acer       912 non-null    int64
 12  company_Apple      912 non-null    int64
 13  company_Asus       912 non-null    int64
 14  company_Chuwi      912 non-null    int64
 15  company_Dell       912 non-null    int64
 16  company_Fujitsu    912 non-null    int64
 17  company_Google     912 non-null    int64
 18  company_HP         912 non-null    int64
 19  company_Huawei     912 non-null    int64
 20  company_LG         912 non-null    int64
 21  company_Lenovo     912 non-null    int64
 22  company_MSI        912 non-null    int64
 23  company_Mediacom   912 non-null    int64
 24  company_Microsoft  912 non-null    int64
 25  company_Razer      912 non-null    int64
 26  company_Samsung    912 non-null    int64
 27  company_Toshiba    912 non-null    int64
 28  company_Vero       912 non-null    int64
 29  company_Xiaomi     912 non-null    int64
dtypes: float64(2), int64(19), object(9)
memory usage: 213.9+ KB

In [989]:
data_object = 'product'
data.drop(columns=[data_object], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   typename           912 non-null    object
 1   inches             912 non-null    float64
 2   screenresolution   912 non-null    object
 3   cpu                912 non-null    object
 4   ram                912 non-null    object
 5   memory             912 non-null    object
 6   gpu                912 non-null    object
 7   opsys              912 non-null    object
 8   weight             912 non-null    object
 9   price              912 non-null    float64
 10  company_Acer       912 non-null    int64
 11  company_Apple      912 non-null    int64
 12  company_Asus       912 non-null    int64
 13  company_Chuwi      912 non-null    int64
 14  company_Dell       912 non-null    int64
 15  company_Fujitsu    912 non-null    int64
 16  company_Google     912 non-null    int64
 17  company_HP         912 non-null    int64
 18  company_Huawei     912 non-null    int64
 19  company_LG         912 non-null    int64
 20  company_Lenovo     912 non-null    int64
 21  company_MSI        912 non-null    int64
 22  company_Mediacom   912 non-null    int64
 23  company_Microsoft  912 non-null    int64
 24  company_Razer      912 non-null    int64
 25  company_Samsung    912 non-null    int64
 26  company_Toshiba    912 non-null    int64
 27  company_Vero       912 non-null    int64
 28  company_Xiaomi     912 non-null    int64
dtypes: float64(2), int64(19), object(8)
memory usage: 206.8+ KB

In [990]:
data_object = 'typename'
data = pd.concat([data, pd.get_dummies(data[data_object], prefix=data_object, dtype=int)], axis=1)
data.drop(columns=[data_object], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   screenresolution             912 non-null    object
 2   cpu                          912 non-null    object
 3   ram                          912 non-null    object
 4   memory                       912 non-null    object
 5   gpu                          912 non-null    object
 6   opsys                        912 non-null    object
 7   weight                       912 non-null    object
 8   price                        912 non-null    float64
 9   company_Acer                 912 non-null    int64
 10  company_Apple                912 non-null    int64
 11  company_Asus                 912 non-null    int64
 12  company_Chuwi                912 non-null    int64
 13  company_Dell                 912 non-null    int64
 14  company_Fujitsu              912 non-null    int64
 15  company_Google               912 non-null    int64
 16  company_HP                   912 non-null    int64
 17  company_Huawei               912 non-null    int64
 18  company_LG                   912 non-null    int64
 19  company_Lenovo               912 non-null    int64
 20  company_MSI                  912 non-null    int64
 21  company_Mediacom             912 non-null    int64
 22  company_Microsoft            912 non-null    int64
 23  company_Razer                912 non-null    int64
 24  company_Samsung              912 non-null    int64
 25  company_Toshiba              912 non-null    int64
 26  company_Vero                 912 non-null    int64
 27  company_Xiaomi               912 non-null    int64
 28  typename_2 in 1 Convertible  912 non-null    int64
 29  typename_Gaming              912 non-null    int64
 30  typename_Netbook             912 non-null    int64
 31  typename_Notebook            912 non-null    int64
 32  typename_Ultrabook           912 non-null    int64
 33  typename_Workstation         912 non-null    int64
dtypes: float64(2), int64(25), object(7)
memory usage: 242.4+ KB

In [991]:
def process_screen_resolution(resolution):
    result = {
        'screen_4K': 0,  
        'screen_HD': 0,
        'screen_Touchscreen': 0,  
        'screen_Retina': 0,
        'screen_Ultra': 0,
        'screen_width': None,  
        'screen_height': None
    }

    if '4K' in resolution:
        result['screen_4K'] = 1  
    if 'Full HD' in resolution or 'HD' in resolution:
        result['screen_HD'] = 1
    if 'Retina' in resolution:
        result['screen_Retina'] = 1
    
    match = re.search(r'(\d{3,4})x(\d{3,4})', resolution)
    if match:
        width, height = match.groups()
        result['screen_width'] = int(width)
        result['screen_height'] = int(height)

    return result

data_screen = data['screenresolution'].apply(process_screen_resolution)

data_screen = pd.DataFrame(data_screen.tolist())

data = pd.concat([data, data_screen], axis=1)

data.drop(columns=['screenresolution'], inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   cpu                          912 non-null    object
 2   ram                          912 non-null    object
 3   memory                       912 non-null    object
 4   gpu                          912 non-null    object
 5   opsys                        912 non-null    object
 6   weight                       912 non-null    object
 7   price                        912 non-null    float64
 8   company_Acer                 912 non-null    int64
 9   company_Apple                912 non-null    int64
 10  company_Asus                 912 non-null    int64
 11  company_Chuwi                912 non-null    int64
 12  company_Dell                 912 non-null    int64
 13  company_Fujitsu              912 non-null    int64
 14  company_Google               912 non-null    int64
 15  company_HP                   912 non-null    int64
 16  company_Huawei               912 non-null    int64
 17  company_LG                   912 non-null    int64
 18  company_Lenovo               912 non-null    int64
 19  company_MSI                  912 non-null    int64
 20  company_Mediacom             912 non-null    int64
 21  company_Microsoft            912 non-null    int64
 22  company_Razer                912 non-null    int64
 23  company_Samsung              912 non-null    int64
 24  company_Toshiba              912 non-null    int64
 25  company_Vero                 912 non-null    int64
 26  company_Xiaomi               912 non-null    int64
 27  typename_2 in 1 Convertible  912 non-null    int64
 28  typename_Gaming              912 non-null    int64
 29  typename_Netbook             912 non-null    int64
 30  typename_Notebook            912 non-null    int64
 31  typename_Ultrabook           912 non-null    int64
 32  typename_Workstation         912 non-null    int64
 33  screen_4K                    912 non-null    int64
 34  screen_HD                    912 non-null    int64
 35  screen_Touchscreen           912 non-null    int64
 36  screen_Retina                912 non-null    int64
 37  screen_Ultra                 912 non-null    int64
 38  screen_width                 912 non-null    int64
 39  screen_height                912 non-null    int64
dtypes: float64(2), int64(32), object(6)
memory usage: 285.1+ KB

In [992]:
def extract_cpu_info(cpu_string):
    cpu_intel = 0
    cpu_amd = 0
    cpu_ghz = None

    if 'Intel' in cpu_string:
        cpu_intel = 1
        match = re.search(r'(\d+\.?\d*)GHz', cpu_string)
        if match:
            cpu_ghz = float(match.group(1))
    
    if 'AMD' in cpu_string:
        cpu_amd = 1
        match = re.search(r'(\d+\.?\d*)GHz', cpu_string)
        if match:
            cpu_ghz = float(match.group(1))

    return pd.Series([cpu_intel, cpu_amd, cpu_ghz], index=['cpu_intel', 'cpu_amd', 'cpu_ghz'])

data[['cpu_intel', 'cpu_amd', 'cpu_ghz']] = data['cpu'].apply(extract_cpu_info)

data['cpu_intel'] = data['cpu_intel'].astype(int)
data['cpu_amd'] = data['cpu_amd'].astype(int)

data.drop(columns=['cpu'], inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   ram                          912 non-null    object
 2   memory                       912 non-null    object
 3   gpu                          912 non-null    object
 4   opsys                        912 non-null    object
 5   weight                       912 non-null    object
 6   price                        912 non-null    float64
 7   company_Acer                 912 non-null    int64
 8   company_Apple                912 non-null    int64
 9   company_Asus                 912 non-null    int64
 10  company_Chuwi                912 non-null    int64
 11  company_Dell                 912 non-null    int64
 12  company_Fujitsu              912 non-null    int64
 13  company_Google               912 non-null    int64
 14  company_HP                   912 non-null    int64
 15  company_Huawei               912 non-null    int64
 16  company_LG                   912 non-null    int64
 17  company_Lenovo               912 non-null    int64
 18  company_MSI                  912 non-null    int64
 19  company_Mediacom             912 non-null    int64
 20  company_Microsoft            912 non-null    int64
 21  company_Razer                912 non-null    int64
 22  company_Samsung              912 non-null    int64
 23  company_Toshiba              912 non-null    int64
 24  company_Vero                 912 non-null    int64
 25  company_Xiaomi               912 non-null    int64
 26  typename_2 in 1 Convertible  912 non-null    int64
 27  typename_Gaming              912 non-null    int64
 28  typename_Netbook             912 non-null    int64
 29  typename_Notebook            912 non-null    int64
 30  typename_Ultrabook           912 non-null    int64
 31  typename_Workstation         912 non-null    int64
 32  screen_4K                    912 non-null    int64
 33  screen_HD                    912 non-null    int64
 34  screen_Touchscreen           912 non-null    int64
 35  screen_Retina                912 non-null    int64
 36  screen_Ultra                 912 non-null    int64
 37  screen_width                 912 non-null    int64
 38  screen_height                912 non-null    int64
 39  cpu_intel                    912 non-null    int64
 40  cpu_amd                      912 non-null    int64
 41  cpu_ghz                      912 non-null    float64
dtypes: float64(3), int64(34), object(5)
memory usage: 299.4+ KB

In [993]:
data.describe()

,inches,price,company_Acer,company_Apple,company_Asus,company_Chuwi,company_Dell,company_Fujitsu,company_Google,company_HP,...,screen_4K,screen_HD,screen_Touchscreen,screen_Retina,screen_Ultra,screen_width,screen_height,cpu_intel,cpu_amd,cpu_ghz
count,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,...,912.000000,912.000000,912.0,912.000000,912.0,912.000000,912.000000,912.000000,912.000000,912.000000
mean,15.011404,1108.122873,0.082237,0.018640,0.118421,0.002193,0.226974,0.003289,0.002193,0.207237,...,0.037281,0.691886,0.0,0.015351,0.0,1890.050439,1067.899123,0.956140,0.043860,2.287895
std,1.411744,714.597741,0.274876,0.135325,0.323283,0.046804,0.419105,0.057291,0.046804,0.405549,...,0.189553,0.461967,0.0,0.123011,0.0,506.007321,290.338307,0.204895,0.204895,0.513277
min,10.100000,174.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,1366.000000,768.000000,0.000000,0.000000,0.900000
25%,14.000000,589.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,1366.000000,768.000000,1.000000,0.000000,2.000000
50%,15.600000,949.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.0,0.000000,0.0,1920.000000,1080.000000,1.000000,0.000000,2.500000
75%,15.600000,1458.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.0,0.000000,0.0,1920.000000,1080.000000,1.000000,0.000000,2.700000
max,18.400000,6099.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.0,1.000000,0.0,3840.000000,2160.000000,1.000000,1.000000,3.600000

In [994]:
def extract_ram(ram_string):
    match = re.search(r'(\d+)GB', ram_string)
    if match:
        return int(match.group(1))
    return None

data['ram_numeric'] = data['ram'].apply(extract_ram)

data.drop(columns=['ram'], inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   memory                       912 non-null    object
 2   gpu                          912 non-null    object
 3   opsys                        912 non-null    object
 4   weight                       912 non-null    object
 5   price                        912 non-null    float64
 6   company_Acer                 912 non-null    int64
 7   company_Apple                912 non-null    int64
 8   company_Asus                 912 non-null    int64
 9   company_Chuwi                912 non-null    int64
 10  company_Dell                 912 non-null    int64
 11  company_Fujitsu              912 non-null    int64
 12  company_Google               912 non-null    int64
 13  company_HP                   912 non-null    int64
 14  company_Huawei               912 non-null    int64
 15  company_LG                   912 non-null    int64
 16  company_Lenovo               912 non-null    int64
 17  company_MSI                  912 non-null    int64
 18  company_Mediacom             912 non-null    int64
 19  company_Microsoft            912 non-null    int64
 20  company_Razer                912 non-null    int64
 21  company_Samsung              912 non-null    int64
 22  company_Toshiba              912 non-null    int64
 23  company_Vero                 912 non-null    int64
 24  company_Xiaomi               912 non-null    int64
 25  typename_2 in 1 Convertible  912 non-null    int64
 26  typename_Gaming              912 non-null    int64
 27  typename_Netbook             912 non-null    int64
 28  typename_Notebook            912 non-null    int64
 29  typename_Ultrabook           912 non-null    int64
 30  typename_Workstation         912 non-null    int64
 31  screen_4K                    912 non-null    int64
 32  screen_HD                    912 non-null    int64
 33  screen_Touchscreen           912 non-null    int64
 34  screen_Retina                912 non-null    int64
 35  screen_Ultra                 912 non-null    int64
 36  screen_width                 912 non-null    int64
 37  screen_height                912 non-null    int64
 38  cpu_intel                    912 non-null    int64
 39  cpu_amd                      912 non-null    int64
 40  cpu_ghz                      912 non-null    float64
 41  ram_numeric                  912 non-null    int64
dtypes: float64(3), int64(35), object(4)
memory usage: 299.4+ KB

In [995]:
def extract_memory_info(memory_string):
    memory_types = {
        'memory_HDD': 0,
        'memory_SSD': 0,
        'memory_Flash': 0
    }
    memory_sizes = {    
        'memory_HDD_GB': 0,
        'memory_SSD_GB': 0,
        'memory_Flash_GB': 0
    }
    
    matches = re.findall(r'(\d+)([A-Za-z ]+)', memory_string)
    
    for match in matches:
        size = int(match[0])
        unit = match[1].strip().upper()
        
        if 'TB' in unit:
            size *= 1000  
        
        if 'HDD' in unit:
            memory_types['memory_HDD'] = 1
            memory_sizes['memory_HDD_GB'] += size
        elif 'SSD' in unit:
            memory_types['memory_SSD'] = 1
            memory_sizes['memory_SSD_GB'] += size
        elif 'FLASH STORAGE' in unit:
            memory_types['memory_Flash'] = 1
            memory_sizes['memory_Flash_GB'] += size
    
    result = {**memory_types, **memory_sizes}
    return pd.Series(result)

data[['memory_HDD', 'memory_SSD', 'memory_Flash', 'memory_HDD_GB', 'memory_SSD_GB', 'memory_Flash_GB']] = data['memory'].apply(extract_memory_info)

data.drop(columns=['memory'], inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 47 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   gpu                          912 non-null    object
 2   opsys                        912 non-null    object
 3   weight                       912 non-null    object
 4   price                        912 non-null    float64
 5   company_Acer                 912 non-null    int64
 6   company_Apple                912 non-null    int64
 7   company_Asus                 912 non-null    int64
 8   company_Chuwi                912 non-null    int64
 9   company_Dell                 912 non-null    int64
 10  company_Fujitsu              912 non-null    int64
 11  company_Google               912 non-null    int64
 12  company_HP                   912 non-null    int64
 13  company_Huawei               912 non-null    int64
 14  company_LG                   912 non-null    int64
 15  company_Lenovo               912 non-null    int64
 16  company_MSI                  912 non-null    int64
 17  company_Mediacom             912 non-null    int64
 18  company_Microsoft            912 non-null    int64
 19  company_Razer                912 non-null    int64
 20  company_Samsung              912 non-null    int64
 21  company_Toshiba              912 non-null    int64
 22  company_Vero                 912 non-null    int64
 23  company_Xiaomi               912 non-null    int64
 24  typename_2 in 1 Convertible  912 non-null    int64
 25  typename_Gaming              912 non-null    int64
 26  typename_Netbook             912 non-null    int64
 27  typename_Notebook            912 non-null    int64
 28  typename_Ultrabook           912 non-null    int64
 29  typename_Workstation         912 non-null    int64
 30  screen_4K                    912 non-null    int64
 31  screen_HD                    912 non-null    int64
 32  screen_Touchscreen           912 non-null    int64
 33  screen_Retina                912 non-null    int64
 34  screen_Ultra                 912 non-null    int64
 35  screen_width                 912 non-null    int64
 36  screen_height                912 non-null    int64
 37  cpu_intel                    912 non-null    int64
 38  cpu_amd                      912 non-null    int64
 39  cpu_ghz                      912 non-null    float64
 40  ram_numeric                  912 non-null    int64
 41  memory_HDD                   912 non-null    int64
 42  memory_SSD                   912 non-null    int64
 43  memory_Flash                 912 non-null    int64
 44  memory_HDD_GB                912 non-null    int64
 45  memory_SSD_GB                912 non-null    int64
 46  memory_Flash_GB              912 non-null    int64
dtypes: float64(3), int64(41), object(3)
memory usage: 335.0+ KB

In [996]:
data.describe()

,inches,price,company_Acer,company_Apple,company_Asus,company_Chuwi,company_Dell,company_Fujitsu,company_Google,company_HP,...,cpu_intel,cpu_amd,cpu_ghz,ram_numeric,memory_HDD,memory_SSD,memory_Flash,memory_HDD_GB,memory_SSD_GB,memory_Flash_GB
count,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,...,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000
mean,15.011404,1108.122873,0.082237,0.018640,0.118421,0.002193,0.226974,0.003289,0.002193,0.207237,...,0.956140,0.043860,2.287895,8.188596,0.437500,0.643640,0.059211,400.254386,180.074561,5.228070
std,1.411744,714.597741,0.274876,0.135325,0.323283,0.046804,0.419105,0.057291,0.046804,0.405549,...,0.204895,0.204895,0.513277,4.899827,0.496351,0.479186,0.236148,503.985613,184.580513,34.250715
min,10.100000,174.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.900000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14.000000,589.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15.600000,949.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,2.500000,8.000000,0.000000,1.000000,0.000000,0.000000,180.000000,0.000000
75%,15.600000,1458.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,2.700000,8.000000,1.000000,1.000000,0.000000,1000.000000,256.000000,0.000000
max,18.400000,6099.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,3.600000,32.000000,1.000000,1.000000,1.000000,2000.000000,1024.000000,512.000000

In [997]:
data.head()

,inches,gpu,opsys,weight,price,company_Acer,company_Apple,company_Asus,company_Chuwi,company_Dell,...,cpu_intel,cpu_amd,cpu_ghz,ram_numeric,memory_HDD,memory_SSD,memory_Flash,memory_HDD_GB,memory_SSD_GB,memory_Flash_GB
0,15.6,AMD Radeon R7 M445,Windows 10,2.36kg,749.00,0,0,0,0,1,...,1,0,2.7,8,1,0,0,1000,0,0
1,15.6,Intel HD Graphics 505,Windows 10,2kg,449.00,0,0,1,0,0,...,1,0,1.1,4,1,0,0,1000,0,0
2,13.3,Intel HD Graphics 520,Windows 7,1.2kg,1460.00,0,0,0,0,0,...,1,0,2.3,8,0,1,0,0,256,0
3,15.6,Nvidia GeForce GTX 1070,Windows 10,4.42kg,2868.99,0,0,0,0,1,...,1,0,2.8,16,1,1,0,1000,256,0
4,12.5,Intel HD Graphics 520,Windows 7,1.26kg,1713.37,0,0,0,0,1,...,1,0,2.4,8,0,1,0,0,256,0

In [998]:
data_object = 'gpu'
# data = pd.concat([data, pd.get_dummies(data[data_object], prefix=data_object, dtype=int)], axis=1)
data.drop(columns=[data_object], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 46 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   opsys                        912 non-null    object
 2   weight                       912 non-null    object
 3   price                        912 non-null    float64
 4   company_Acer                 912 non-null    int64
 5   company_Apple                912 non-null    int64
 6   company_Asus                 912 non-null    int64
 7   company_Chuwi                912 non-null    int64
 8   company_Dell                 912 non-null    int64
 9   company_Fujitsu              912 non-null    int64
 10  company_Google               912 non-null    int64
 11  company_HP                   912 non-null    int64
 12  company_Huawei               912 non-null    int64
 13  company_LG                   912 non-null    int64
 14  company_Lenovo               912 non-null    int64
 15  company_MSI                  912 non-null    int64
 16  company_Mediacom             912 non-null    int64
 17  company_Microsoft            912 non-null    int64
 18  company_Razer                912 non-null    int64
 19  company_Samsung              912 non-null    int64
 20  company_Toshiba              912 non-null    int64
 21  company_Vero                 912 non-null    int64
 22  company_Xiaomi               912 non-null    int64
 23  typename_2 in 1 Convertible  912 non-null    int64
 24  typename_Gaming              912 non-null    int64
 25  typename_Netbook             912 non-null    int64
 26  typename_Notebook            912 non-null    int64
 27  typename_Ultrabook           912 non-null    int64
 28  typename_Workstation         912 non-null    int64
 29  screen_4K                    912 non-null    int64
 30  screen_HD                    912 non-null    int64
 31  screen_Touchscreen           912 non-null    int64
 32  screen_Retina                912 non-null    int64
 33  screen_Ultra                 912 non-null    int64
 34  screen_width                 912 non-null    int64
 35  screen_height                912 non-null    int64
 36  cpu_intel                    912 non-null    int64
 37  cpu_amd                      912 non-null    int64
 38  cpu_ghz                      912 non-null    float64
 39  ram_numeric                  912 non-null    int64
 40  memory_HDD                   912 non-null    int64
 41  memory_SSD                   912 non-null    int64
 42  memory_Flash                 912 non-null    int64
 43  memory_HDD_GB                912 non-null    int64
 44  memory_SSD_GB                912 non-null    int64
 45  memory_Flash_GB              912 non-null    int64
dtypes: float64(3), int64(41), object(2)
memory usage: 327.9+ KB

In [999]:
data_object = 'opsys'
data = pd.concat([data, pd.get_dummies(data[data_object], prefix=data_object, dtype=int)], axis=1)
data.drop(columns=[data_object], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 54 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   weight                       912 non-null    object
 2   price                        912 non-null    float64
 3   company_Acer                 912 non-null    int64
 4   company_Apple                912 non-null    int64
 5   company_Asus                 912 non-null    int64
 6   company_Chuwi                912 non-null    int64
 7   company_Dell                 912 non-null    int64
 8   company_Fujitsu              912 non-null    int64
 9   company_Google               912 non-null    int64
 10  company_HP                   912 non-null    int64
 11  company_Huawei               912 non-null    int64
 12  company_LG                   912 non-null    int64
 13  company_Lenovo               912 non-null    int64
 14  company_MSI                  912 non-null    int64
 15  company_Mediacom             912 non-null    int64
 16  company_Microsoft            912 non-null    int64
 17  company_Razer                912 non-null    int64
 18  company_Samsung              912 non-null    int64
 19  company_Toshiba              912 non-null    int64
 20  company_Vero                 912 non-null    int64
 21  company_Xiaomi               912 non-null    int64
 22  typename_2 in 1 Convertible  912 non-null    int64
 23  typename_Gaming              912 non-null    int64
 24  typename_Netbook             912 non-null    int64
 25  typename_Notebook            912 non-null    int64
 26  typename_Ultrabook           912 non-null    int64
 27  typename_Workstation         912 non-null    int64
 28  screen_4K                    912 non-null    int64
 29  screen_HD                    912 non-null    int64
 30  screen_Touchscreen           912 non-null    int64
 31  screen_Retina                912 non-null    int64
 32  screen_Ultra                 912 non-null    int64
 33  screen_width                 912 non-null    int64
 34  screen_height                912 non-null    int64
 35  cpu_intel                    912 non-null    int64
 36  cpu_amd                      912 non-null    int64
 37  cpu_ghz                      912 non-null    float64
 38  ram_numeric                  912 non-null    int64
 39  memory_HDD                   912 non-null    int64
 40  memory_SSD                   912 non-null    int64
 41  memory_Flash                 912 non-null    int64
 42  memory_HDD_GB                912 non-null    int64
 43  memory_SSD_GB                912 non-null    int64
 44  memory_Flash_GB              912 non-null    int64
 45  opsys_Android                912 non-null    int64
 46  opsys_Chrome OS              912 non-null    int64
 47  opsys_Linux                  912 non-null    int64
 48  opsys_Mac OS X               912 non-null    int64
 49  opsys_No OS                  912 non-null    int64
 50  opsys_Windows 10             912 non-null    int64
 51  opsys_Windows 10 S           912 non-null    int64
 52  opsys_Windows 7              912 non-null    int64
 53  opsys_macOS                  912 non-null    int64
dtypes: float64(3), int64(50), object(1)
memory usage: 384.9+ KB

In [1000]:
def extract_weight(weight_string):
    match = re.search(r'(\d+(\.\d+)?)', weight_string)
    if match:
        return float(match.group(1))
    return None

data['weight_kg'] = data['weight'].apply(extract_weight)

data.drop(columns=['weight'], inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 54 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   price                        912 non-null    float64
 2   company_Acer                 912 non-null    int64
 3   company_Apple                912 non-null    int64
 4   company_Asus                 912 non-null    int64
 5   company_Chuwi                912 non-null    int64
 6   company_Dell                 912 non-null    int64
 7   company_Fujitsu              912 non-null    int64
 8   company_Google               912 non-null    int64
 9   company_HP                   912 non-null    int64
 10  company_Huawei               912 non-null    int64
 11  company_LG                   912 non-null    int64
 12  company_Lenovo               912 non-null    int64
 13  company_MSI                  912 non-null    int64
 14  company_Mediacom             912 non-null    int64
 15  company_Microsoft            912 non-null    int64
 16  company_Razer                912 non-null    int64
 17  company_Samsung              912 non-null    int64
 18  company_Toshiba              912 non-null    int64
 19  company_Vero                 912 non-null    int64
 20  company_Xiaomi               912 non-null    int64
 21  typename_2 in 1 Convertible  912 non-null    int64
 22  typename_Gaming              912 non-null    int64
 23  typename_Netbook             912 non-null    int64
 24  typename_Notebook            912 non-null    int64
 25  typename_Ultrabook           912 non-null    int64
 26  typename_Workstation         912 non-null    int64
 27  screen_4K                    912 non-null    int64
 28  screen_HD                    912 non-null    int64
 29  screen_Touchscreen           912 non-null    int64
 30  screen_Retina                912 non-null    int64
 31  screen_Ultra                 912 non-null    int64
 32  screen_width                 912 non-null    int64
 33  screen_height                912 non-null    int64
 34  cpu_intel                    912 non-null    int64
 35  cpu_amd                      912 non-null    int64
 36  cpu_ghz                      912 non-null    float64
 37  ram_numeric                  912 non-null    int64
 38  memory_HDD                   912 non-null    int64
 39  memory_SSD                   912 non-null    int64
 40  memory_Flash                 912 non-null    int64
 41  memory_HDD_GB                912 non-null    int64
 42  memory_SSD_GB                912 non-null    int64
 43  memory_Flash_GB              912 non-null    int64
 44  opsys_Android                912 non-null    int64
 45  opsys_Chrome OS              912 non-null    int64
 46  opsys_Linux                  912 non-null    int64
 47  opsys_Mac OS X               912 non-null    int64
 48  opsys_No OS                  912 non-null    int64
 49  opsys_Windows 10             912 non-null    int64
 50  opsys_Windows 10 S           912 non-null    int64
 51  opsys_Windows 7              912 non-null    int64
 52  opsys_macOS                  912 non-null    int64
 53  weight_kg                    912 non-null    float64
dtypes: float64(4), int64(50)
memory usage: 384.9 KB

In [1001]:
data.head()

,inches,price,company_Acer,company_Apple,company_Asus,company_Chuwi,company_Dell,company_Fujitsu,company_Google,company_HP,...,opsys_Android,opsys_Chrome OS,opsys_Linux,opsys_Mac OS X,opsys_No OS,opsys_Windows 10,opsys_Windows 10 S,opsys_Windows 7,opsys_macOS,weight_kg
0,15.6,749.00,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,2.36
1,15.6,449.00,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2.00
2,13.3,1460.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1.20
3,15.6,2868.99,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,4.42
4,12.5,1713.37,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1.26

In [1002]:
columns = list(data.columns)

index_inches = columns.index('inches')
index_price = columns.index('price')

columns[index_inches], columns[index_price] = columns[index_price], columns[index_inches]

data = data[columns]

In [1003]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 54 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   price                        912 non-null    float64
 1   inches                       912 non-null    float64
 2   company_Acer                 912 non-null    int64
 3   company_Apple                912 non-null    int64
 4   company_Asus                 912 non-null    int64
 5   company_Chuwi                912 non-null    int64
 6   company_Dell                 912 non-null    int64
 7   company_Fujitsu              912 non-null    int64
 8   company_Google               912 non-null    int64
 9   company_HP                   912 non-null    int64
 10  company_Huawei               912 non-null    int64
 11  company_LG                   912 non-null    int64
 12  company_Lenovo               912 non-null    int64
 13  company_MSI                  912 non-null    int64
 14  company_Mediacom             912 non-null    int64
 15  company_Microsoft            912 non-null    int64
 16  company_Razer                912 non-null    int64
 17  company_Samsung              912 non-null    int64
 18  company_Toshiba              912 non-null    int64
 19  company_Vero                 912 non-null    int64
 20  company_Xiaomi               912 non-null    int64
 21  typename_2 in 1 Convertible  912 non-null    int64
 22  typename_Gaming              912 non-null    int64
 23  typename_Netbook             912 non-null    int64
 24  typename_Notebook            912 non-null    int64
 25  typename_Ultrabook           912 non-null    int64
 26  typename_Workstation         912 non-null    int64
 27  screen_4K                    912 non-null    int64
 28  screen_HD                    912 non-null    int64
 29  screen_Touchscreen           912 non-null    int64
 30  screen_Retina                912 non-null    int64
 31  screen_Ultra                 912 non-null    int64
 32  screen_width                 912 non-null    int64
 33  screen_height                912 non-null    int64
 34  cpu_intel                    912 non-null    int64
 35  cpu_amd                      912 non-null    int64
 36  cpu_ghz                      912 non-null    float64
 37  ram_numeric                  912 non-null    int64
 38  memory_HDD                   912 non-null    int64
 39  memory_SSD                   912 non-null    int64
 40  memory_Flash                 912 non-null    int64
 41  memory_HDD_GB                912 non-null    int64
 42  memory_SSD_GB                912 non-null    int64
 43  memory_Flash_GB              912 non-null    int64
 44  opsys_Android                912 non-null    int64
 45  opsys_Chrome OS              912 non-null    int64
 46  opsys_Linux                  912 non-null    int64
 47  opsys_Mac OS X               912 non-null    int64
 48  opsys_No OS                  912 non-null    int64
 49  opsys_Windows 10             912 non-null    int64
 50  opsys_Windows 10 S           912 non-null    int64
 51  opsys_Windows 7              912 non-null    int64
 52  opsys_macOS                  912 non-null    int64
 53  weight_kg                    912 non-null    float64
dtypes: float64(4), int64(50)
memory usage: 384.9 KB

#### TRAIN

In [1004]:
features = ['company_Fujitsu', 'company_Mediacom', 'opsys_Android']
data = data.drop(features, axis=1)

In [1005]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   price                        912 non-null    float64
 1   inches                       912 non-null    float64
 2   company_Acer                 912 non-null    int64
 3   company_Apple                912 non-null    int64
 4   company_Asus                 912 non-null    int64
 5   company_Chuwi                912 non-null    int64
 6   company_Dell                 912 non-null    int64
 7   company_Google               912 non-null    int64
 8   company_HP                   912 non-null    int64
 9   company_Huawei               912 non-null    int64
 10  company_LG                   912 non-null    int64
 11  company_Lenovo               912 non-null    int64
 12  company_MSI                  912 non-null    int64
 13  company_Microsoft            912 non-null    int64
 14  company_Razer                912 non-null    int64
 15  company_Samsung              912 non-null    int64
 16  company_Toshiba              912 non-null    int64
 17  company_Vero                 912 non-null    int64
 18  company_Xiaomi               912 non-null    int64
 19  typename_2 in 1 Convertible  912 non-null    int64
 20  typename_Gaming              912 non-null    int64
 21  typename_Netbook             912 non-null    int64
 22  typename_Notebook            912 non-null    int64
 23  typename_Ultrabook           912 non-null    int64
 24  typename_Workstation         912 non-null    int64
 25  screen_4K                    912 non-null    int64
 26  screen_HD                    912 non-null    int64
 27  screen_Touchscreen           912 non-null    int64
 28  screen_Retina                912 non-null    int64
 29  screen_Ultra                 912 non-null    int64
 30  screen_width                 912 non-null    int64
 31  screen_height                912 non-null    int64
 32  cpu_intel                    912 non-null    int64
 33  cpu_amd                      912 non-null    int64
 34  cpu_ghz                      912 non-null    float64
 35  ram_numeric                  912 non-null    int64
 36  memory_HDD                   912 non-null    int64
 37  memory_SSD                   912 non-null    int64
 38  memory_Flash                 912 non-null    int64
 39  memory_HDD_GB                912 non-null    int64
 40  memory_SSD_GB                912 non-null    int64
 41  memory_Flash_GB              912 non-null    int64
 42  opsys_Chrome OS              912 non-null    int64
 43  opsys_Linux                  912 non-null    int64
 44  opsys_Mac OS X               912 non-null    int64
 45  opsys_No OS                  912 non-null    int64
 46  opsys_Windows 10             912 non-null    int64
 47  opsys_Windows 10 S           912 non-null    int64
 48  opsys_Windows 7              912 non-null    int64
 49  opsys_macOS                  912 non-null    int64
 50  weight_kg                    912 non-null    float64
dtypes: float64(4), int64(47)
memory usage: 363.5 KB

In [1006]:
X = data.drop('price', axis=1)
y = data['price']

In [1007]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       912 non-null    float64
 1   company_Acer                 912 non-null    int64
 2   company_Apple                912 non-null    int64
 3   company_Asus                 912 non-null    int64
 4   company_Chuwi                912 non-null    int64
 5   company_Dell                 912 non-null    int64
 6   company_Google               912 non-null    int64
 7   company_HP                   912 non-null    int64
 8   company_Huawei               912 non-null    int64
 9   company_LG                   912 non-null    int64
 10  company_Lenovo               912 non-null    int64
 11  company_MSI                  912 non-null    int64
 12  company_Microsoft            912 non-null    int64
 13  company_Razer                912 non-null    int64
 14  company_Samsung              912 non-null    int64
 15  company_Toshiba              912 non-null    int64
 16  company_Vero                 912 non-null    int64
 17  company_Xiaomi               912 non-null    int64
 18  typename_2 in 1 Convertible  912 non-null    int64
 19  typename_Gaming              912 non-null    int64
 20  typename_Netbook             912 non-null    int64
 21  typename_Notebook            912 non-null    int64
 22  typename_Ultrabook           912 non-null    int64
 23  typename_Workstation         912 non-null    int64
 24  screen_4K                    912 non-null    int64
 25  screen_HD                    912 non-null    int64
 26  screen_Touchscreen           912 non-null    int64
 27  screen_Retina                912 non-null    int64
 28  screen_Ultra                 912 non-null    int64
 29  screen_width                 912 non-null    int64
 30  screen_height                912 non-null    int64
 31  cpu_intel                    912 non-null    int64
 32  cpu_amd                      912 non-null    int64
 33  cpu_ghz                      912 non-null    float64
 34  ram_numeric                  912 non-null    int64
 35  memory_HDD                   912 non-null    int64
 36  memory_SSD                   912 non-null    int64
 37  memory_Flash                 912 non-null    int64
 38  memory_HDD_GB                912 non-null    int64
 39  memory_SSD_GB                912 non-null    int64
 40  memory_Flash_GB              912 non-null    int64
 41  opsys_Chrome OS              912 non-null    int64
 42  opsys_Linux                  912 non-null    int64
 43  opsys_Mac OS X               912 non-null    int64
 44  opsys_No OS                  912 non-null    int64
 45  opsys_Windows 10             912 non-null    int64
 46  opsys_Windows 10 S           912 non-null    int64
 47  opsys_Windows 7              912 non-null    int64
 48  opsys_macOS                  912 non-null    int64
 49  weight_kg                    912 non-null    float64
dtypes: float64(3), int64(47)
memory usage: 356.4 KB

In [1008]:
X.describe()

,inches,company_Acer,company_Apple,company_Asus,company_Chuwi,company_Dell,company_Google,company_HP,company_Huawei,company_LG,...,memory_Flash_GB,opsys_Chrome OS,opsys_Linux,opsys_Mac OS X,opsys_No OS,opsys_Windows 10,opsys_Windows 10 S,opsys_Windows 7,opsys_macOS,weight_kg
count,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,...,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000,912.000000
mean,15.011404,0.082237,0.018640,0.118421,0.002193,0.226974,0.002193,0.207237,0.001096,0.001096,...,5.228070,0.021930,0.051535,0.006579,0.048246,0.817982,0.004386,0.035088,0.012061,2.032112
std,1.411744,0.274876,0.135325,0.323283,0.046804,0.419105,0.046804,0.405549,0.033113,0.033113,...,34.250715,0.146535,0.221208,0.080888,0.214402,0.386071,0.066117,0.184103,0.109220,0.653772
min,10.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.690000
25%,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.500000
50%,15.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.040000
75%,15.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.300000
max,18.400000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,512.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.600000

In [1009]:
# scaler = StandardScaler()
# X = scaler.fit_transform(X)

# X_df = pd.DataFrame(X, columns=data.columns[1:])
# X_df.describe()

In [1010]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1011]:
print('X_train:', X_train.shape)
print('X_test:', X_test.shape)
print('y_train:', y_train.shape)
print('y_test:', y_test.shape)

X_train: (729, 50)
X_test: (183, 50)
y_train: (729,)
y_test: (183,)

In [1012]:
model = LinearRegression()

model.fit(X_train, y_train)

LinearRegression()

In [1013]:
y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

rmse = root_mean_squared_error(y_test, y_pred)
print(f'Root Mean Squared Error: {rmse}')

r2 = r2_score(y_test, y_pred)
print(f'R-squared: {r2}')

Mean Absolute Error: 230.34785024428106
Mean Squared Error: 111957.27595093877
Root Mean Squared Error: 334.6001732679449
R-squared: 0.7407832968079258

In [1014]:
predicciones = model.predict(X_test)

print(predicciones)

[1622.22153965 1111.15792254  971.84083928 1015.53601218 1685.4578946
  337.20087218  394.63549575  319.00596486  487.69272013  838.98551545
  263.55238477 2477.27969567  702.22779865 1118.54772872  397.69293824
 1299.99555375  462.38968649 1329.26832124  137.11302763  882.97298223
  600.1504275   984.49722647 1616.8685592   604.75633689 1432.44336371
  617.91267377 1077.04742053  942.16054238 1425.36576429 1141.84806198
  861.38699436 2087.12082358  421.01815068  988.74371404  324.4737917
  561.42727221  -81.56739764 2086.19072702 1222.54670573 1995.6516151
  857.33761277  919.68488544 2121.88466868  192.26096162  571.26303264
  303.74701108 1384.32589074  635.68354348 1072.10630178 1114.37325799
 1840.03341855 1811.65467872  804.48479896 1267.32162067 1203.00725582
 1036.9845628   257.66034529  441.35156309  727.04357087 1243.97205416
 1271.19203704  533.19554327 1154.10541925 1103.72229408 1864.39007412
  893.21960684 1039.41191021  522.45049574 1013.74960762  712.34236272
  305.59159284 1010.22037325 1419.06062693 1301.68876028   25.7902011
  906.22788414 1035.38714416 1398.16778117 1082.85596066 1337.1483927
 1469.14782444  482.27126691 1679.65959946 1396.37218981 1293.24612845
  883.96326175 1247.44975384  757.23327735 1371.50786959  911.20571876
  307.33460665  677.66932338  872.75869464 2136.63129449 1263.97940372
 1050.67460016  639.51191487 1388.24564902 3660.11585526  670.97980888
 1194.08886402 1002.64386476  235.11764043  794.63290585 1016.94800633
 1153.63279288 3597.71736254 1183.50833835 1297.44516426  613.97891604
 1007.30944717  591.04885933 1773.46421342  628.60796633 1765.46403194
 1324.96901905 1205.02738703  822.75498848  242.35131548 1349.31887272
 1224.82297224  892.75169923  166.4562481   699.47959934 1257.66272149
 1609.55461115 1167.4468401  3146.34991748 1411.04353537  454.88181068
  753.34270037  347.61848735  921.58111815  833.1870853   796.58414784
  550.94111678  461.21277699  947.4757131   667.6019132  1595.1581716
  413.18070174 2110.09791967 1885.44568154  440.02359455 1243.97205416
 1134.96346959  878.02658693  573.88706195  411.85622868  635.74350644
  774.94307339  570.76021528 2196.87599541  466.60952436 1297.87578721
 1074.88465617  297.93571118  180.30400488 1306.46479538 1415.16700019
 1861.00396121 1453.5912559  1858.58101073  899.76701411  288.42307109
  724.31578846 2574.10825619  328.29344142 1467.42525181 1263.83453366
 1779.90113759  766.42595594 2289.29511021 1695.22166132 1070.07558532
 1215.20291944  378.99706096  942.40833699 1236.20007886  741.05921742
  474.63889797 1371.05693111 3049.02073694]

#### PREDICT

In [1015]:
data_test = pd.read_csv('./data/test.csv')

In [1016]:
data_test = data_test.rename(columns=str.lower)

In [1017]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                391 non-null    int64
 1   company           391 non-null    object
 2   product           391 non-null    object
 3   typename          391 non-null    object
 4   inches            391 non-null    float64
 5   screenresolution  391 non-null    object
 6   cpu               391 non-null    object
 7   ram               391 non-null    object
 8   memory            391 non-null    object
 9   gpu               391 non-null    object
 10  opsys             391 non-null    object
 11  weight            391 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 36.8+ KB

In [1018]:
data_object = 'company'
data_test = pd.concat([data_test, pd.get_dummies(data_test[data_object], prefix=data_object, dtype=int)], axis=1)
data_test.drop(columns=[data_object], inplace=True)
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 391 non-null    int64
 1   product            391 non-null    object
 2   typename           391 non-null    object
 3   inches             391 non-null    float64
 4   screenresolution   391 non-null    object
 5   cpu                391 non-null    object
 6   ram                391 non-null    object
 7   memory             391 non-null    object
 8   gpu                391 non-null    object
 9   opsys              391 non-null    object
 10  weight             391 non-null    object
 11  company_Acer       391 non-null    int64
 12  company_Apple      391 non-null    int64
 13  company_Asus       391 non-null    int64
 14  company_Chuwi      391 non-null    int64
 15  company_Dell       391 non-null    int64
 16  company_Google     391 non-null    int64
 17  company_HP         391 non-null    int64
 18  company_Huawei     391 non-null    int64
 19  company_LG         391 non-null    int64
 20  company_Lenovo     391 non-null    int64
 21  company_MSI        391 non-null    int64
 22  company_Microsoft  391 non-null    int64
 23  company_Razer      391 non-null    int64
 24  company_Samsung    391 non-null    int64
 25  company_Toshiba    391 non-null    int64
 26  company_Vero       391 non-null    int64
 27  company_Xiaomi     391 non-null    int64
dtypes: float64(1), int64(18), object(9)
memory usage: 85.7+ KB

In [1019]:
data_object = 'product'
data_test.drop(columns=[data_object], inplace=True)
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 391 non-null    int64
 1   typename           391 non-null    object
 2   inches             391 non-null    float64
 3   screenresolution   391 non-null    object
 4   cpu                391 non-null    object
 5   ram                391 non-null    object
 6   memory             391 non-null    object
 7   gpu                391 non-null    object
 8   opsys              391 non-null    object
 9   weight             391 non-null    object
 10  company_Acer       391 non-null    int64
 11  company_Apple      391 non-null    int64
 12  company_Asus       391 non-null    int64
 13  company_Chuwi      391 non-null    int64
 14  company_Dell       391 non-null    int64
 15  company_Google     391 non-null    int64
 16  company_HP         391 non-null    int64
 17  company_Huawei     391 non-null    int64
 18  company_LG         391 non-null    int64
 19  company_Lenovo     391 non-null    int64
 20  company_MSI        391 non-null    int64
 21  company_Microsoft  391 non-null    int64
 22  company_Razer      391 non-null    int64
 23  company_Samsung    391 non-null    int64
 24  company_Toshiba    391 non-null    int64
 25  company_Vero       391 non-null    int64
 26  company_Xiaomi     391 non-null    int64
dtypes: float64(1), int64(18), object(8)
memory usage: 82.6+ KB

In [1020]:
data_object = 'typename'
data_test = pd.concat([data_test, pd.get_dummies(data_test[data_object], prefix=data_object, dtype=int)], axis=1)
data_test.drop(columns=[data_object], inplace=True)
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           391 non-null    int64
 1   inches                       391 non-null    float64
 2   screenresolution             391 non-null    object
 3   cpu                          391 non-null    object
 4   ram                          391 non-null    object
 5   memory                       391 non-null    object
 6   gpu                          391 non-null    object
 7   opsys                        391 non-null    object
 8   weight                       391 non-null    object
 9   company_Acer                 391 non-null    int64
 10  company_Apple                391 non-null    int64
 11  company_Asus                 391 non-null    int64
 12  company_Chuwi                391 non-null    int64
 13  company_Dell                 391 non-null    int64
 14  company_Google               391 non-null    int64
 15  company_HP                   391 non-null    int64
 16  company_Huawei               391 non-null    int64
 17  company_LG                   391 non-null    int64
 18  company_Lenovo               391 non-null    int64
 19  company_MSI                  391 non-null    int64
 20  company_Microsoft            391 non-null    int64
 21  company_Razer                391 non-null    int64
 22  company_Samsung              391 non-null    int64
 23  company_Toshiba              391 non-null    int64
 24  company_Vero                 391 non-null    int64
 25  company_Xiaomi               391 non-null    int64
 26  typename_2 in 1 Convertible  391 non-null    int64
 27  typename_Gaming              391 non-null    int64
 28  typename_Netbook             391 non-null    int64
 29  typename_Notebook            391 non-null    int64
 30  typename_Ultrabook           391 non-null    int64
 31  typename_Workstation         391 non-null    int64
dtypes: float64(1), int64(24), object(7)
memory usage: 97.9+ KB

In [1021]:
def process_screen_resolution(resolution):
    result = {
        'screen_4K': 0,  
        'screen_HD': 0,
        'screen_Touchscreen': 0,  
        'screen_Retina': 0,
        'screen_Ultra': 0,
        'screen_width': None,  
        'screen_height': None
    }

    if '4K' in resolution:
        result['screen_4K'] = 1  
    if 'Full HD' in resolution or 'HD' in resolution:
        result['screen_HD'] = 1
    if 'Retina' in resolution:
        result['screen_Retina'] = 1
    
    match = re.search(r'(\d{3,4})x(\d{3,4})', resolution)
    if match:
        width, height = match.groups()
        result['screen_width'] = int(width)
        result['screen_height'] = int(height)

    return result

data_screen = data_test['screenresolution'].apply(process_screen_resolution)

data_screen = pd.DataFrame(data_screen.tolist())

data_test = pd.concat([data_test, data_screen], axis=1)

data_test.drop(columns=['screenresolution'], inplace=True)

data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           391 non-null    int64
 1   inches                       391 non-null    float64
 2   cpu                          391 non-null    object
 3   ram                          391 non-null    object
 4   memory                       391 non-null    object
 5   gpu                          391 non-null    object
 6   opsys                        391 non-null    object
 7   weight                       391 non-null    object
 8   company_Acer                 391 non-null    int64
 9   company_Apple                391 non-null    int64
 10  company_Asus                 391 non-null    int64
 11  company_Chuwi                391 non-null    int64
 12  company_Dell                 391 non-null    int64
 13  company_Google               391 non-null    int64
 14  company_HP                   391 non-null    int64
 15  company_Huawei               391 non-null    int64
 16  company_LG                   391 non-null    int64
 17  company_Lenovo               391 non-null    int64
 18  company_MSI                  391 non-null    int64
 19  company_Microsoft            391 non-null    int64
 20  company_Razer                391 non-null    int64
 21  company_Samsung              391 non-null    int64
 22  company_Toshiba              391 non-null    int64
 23  company_Vero                 391 non-null    int64
 24  company_Xiaomi               391 non-null    int64
 25  typename_2 in 1 Convertible  391 non-null    int64
 26  typename_Gaming              391 non-null    int64
 27  typename_Netbook             391 non-null    int64
 28  typename_Notebook            391 non-null    int64
 29  typename_Ultrabook           391 non-null    int64
 30  typename_Workstation         391 non-null    int64
 31  screen_4K                    391 non-null    int64
 32  screen_HD                    391 non-null    int64
 33  screen_Touchscreen           391 non-null    int64
 34  screen_Retina                391 non-null    int64
 35  screen_Ultra                 391 non-null    int64
 36  screen_width                 391 non-null    int64
 37  screen_height                391 non-null    int64
dtypes: float64(1), int64(31), object(6)
memory usage: 116.2+ KB

In [1022]:
def extract_cpu_info(cpu_string):
    cpu_intel = 0
    cpu_amd = 0
    cpu_ghz = None

    if 'Intel' in cpu_string:
        cpu_intel = 1
        match = re.search(r'(\d+\.?\d*)GHz', cpu_string)
        if match:
            cpu_ghz = float(match.group(1))
    
    if 'AMD' in cpu_string:
        cpu_amd = 1
        match = re.search(r'(\d+\.?\d*)GHz', cpu_string)
        if match:
            cpu_ghz = float(match.group(1))

    return pd.Series([cpu_intel, cpu_amd, cpu_ghz], index=['cpu_intel', 'cpu_amd', 'cpu_ghz'])

data_test[['cpu_intel', 'cpu_amd', 'cpu_ghz']] = data_test['cpu'].apply(extract_cpu_info)

data_test['cpu_intel'] = data_test['cpu_intel'].astype(int)
data_test['cpu_amd'] = data_test['cpu_amd'].astype(int)

data_test.drop(columns=['cpu'], inplace=True)

data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           391 non-null    int64
 1   inches                       391 non-null    float64
 2   ram                          391 non-null    object
 3   memory                       391 non-null    object
 4   gpu                          391 non-null    object
 5   opsys                        391 non-null    object
 6   weight                       391 non-null    object
 7   company_Acer                 391 non-null    int64
 8   company_Apple                391 non-null    int64
 9   company_Asus                 391 non-null    int64
 10  company_Chuwi                391 non-null    int64
 11  company_Dell                 391 non-null    int64
 12  company_Google               391 non-null    int64
 13  company_HP                   391 non-null    int64
 14  company_Huawei               391 non-null    int64
 15  company_LG                   391 non-null    int64
 16  company_Lenovo               391 non-null    int64
 17  company_MSI                  391 non-null    int64
 18  company_Microsoft            391 non-null    int64
 19  company_Razer                391 non-null    int64
 20  company_Samsung              391 non-null    int64
 21  company_Toshiba              391 non-null    int64
 22  company_Vero                 391 non-null    int64
 23  company_Xiaomi               391 non-null    int64
 24  typename_2 in 1 Convertible  391 non-null    int64
 25  typename_Gaming              391 non-null    int64
 26  typename_Netbook             391 non-null    int64
 27  typename_Notebook            391 non-null    int64
 28  typename_Ultrabook           391 non-null    int64
 29  typename_Workstation         391 non-null    int64
 30  screen_4K                    391 non-null    int64
 31  screen_HD                    391 non-null    int64
 32  screen_Touchscreen           391 non-null    int64
 33  screen_Retina                391 non-null    int64
 34  screen_Ultra                 391 non-null    int64
 35  screen_width                 391 non-null    int64
 36  screen_height                391 non-null    int64
 37  cpu_intel                    391 non-null    int64
 38  cpu_amd                      391 non-null    int64
 39  cpu_ghz                      390 non-null    float64
dtypes: float64(2), int64(33), object(5)
memory usage: 122.3+ KB

In [1023]:
def extract_ram(ram_string):
    match = re.search(r'(\d+)GB', ram_string)
    if match:
        return int(match.group(1))
    return None

data_test['ram_numeric'] = data_test['ram'].apply(extract_ram)

data_test.drop(columns=['ram'], inplace=True)

data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           391 non-null    int64
 1   inches                       391 non-null    float64
 2   memory                       391 non-null    object
 3   gpu                          391 non-null    object
 4   opsys                        391 non-null    object
 5   weight                       391 non-null    object
 6   company_Acer                 391 non-null    int64
 7   company_Apple                391 non-null    int64
 8   company_Asus                 391 non-null    int64
 9   company_Chuwi                391 non-null    int64
 10  company_Dell                 391 non-null    int64
 11  company_Google               391 non-null    int64
 12  company_HP                   391 non-null    int64
 13  company_Huawei               391 non-null    int64
 14  company_LG                   391 non-null    int64
 15  company_Lenovo               391 non-null    int64
 16  company_MSI                  391 non-null    int64
 17  company_Microsoft            391 non-null    int64
 18  company_Razer                391 non-null    int64
 19  company_Samsung              391 non-null    int64
 20  company_Toshiba              391 non-null    int64
 21  company_Vero                 391 non-null    int64
 22  company_Xiaomi               391 non-null    int64
 23  typename_2 in 1 Convertible  391 non-null    int64
 24  typename_Gaming              391 non-null    int64
 25  typename_Netbook             391 non-null    int64
 26  typename_Notebook            391 non-null    int64
 27  typename_Ultrabook           391 non-null    int64
 28  typename_Workstation         391 non-null    int64
 29  screen_4K                    391 non-null    int64
 30  screen_HD                    391 non-null    int64
 31  screen_Touchscreen           391 non-null    int64
 32  screen_Retina                391 non-null    int64
 33  screen_Ultra                 391 non-null    int64
 34  screen_width                 391 non-null    int64
 35  screen_height                391 non-null    int64
 36  cpu_intel                    391 non-null    int64
 37  cpu_amd                      391 non-null    int64
 38  cpu_ghz                      390 non-null    float64
 39  ram_numeric                  391 non-null    int64
dtypes: float64(2), int64(34), object(4)
memory usage: 122.3+ KB

In [1024]:
def extract_memory_info(memory_string):
    memory_types = {
        'memory_HDD': 0,
        'memory_SSD': 0,
        'memory_Flash': 0
    }
    memory_sizes = {    
        'memory_HDD_GB': 0,
        'memory_SSD_GB': 0,
        'memory_Flash_GB': 0
    }
    
    matches = re.findall(r'(\d+)([A-Za-z ]+)', memory_string)
    
    for match in matches:
        size = int(match[0])
        unit = match[1].strip().upper()
        
        if 'TB' in unit:
            size *= 1000  
        
        if 'HDD' in unit:
            memory_types['memory_HDD'] = 1
            memory_sizes['memory_HDD_GB'] += size
        elif 'SSD' in unit:
            memory_types['memory_SSD'] = 1
            memory_sizes['memory_SSD_GB'] += size
        elif 'FLASH STORAGE' in unit:
            memory_types['memory_Flash'] = 1
            memory_sizes['memory_Flash_GB'] += size
    
    result = {**memory_types, **memory_sizes}
    return pd.Series(result)

data_test[['memory_HDD', 'memory_SSD', 'memory_Flash', 'memory_HDD_GB', 'memory_SSD_GB', 'memory_Flash_GB']] = data_test['memory'].apply(extract_memory_info)

data_test.drop(columns=['memory'], inplace=True)

data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 45 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           391 non-null    int64
 1   inches                       391 non-null    float64
 2   gpu                          391 non-null    object
 3   opsys                        391 non-null    object
 4   weight                       391 non-null    object
 5   company_Acer                 391 non-null    int64
 6   company_Apple                391 non-null    int64
 7   company_Asus                 391 non-null    int64
 8   company_Chuwi                391 non-null    int64
 9   company_Dell                 391 non-null    int64
 10  company_Google               391 non-null    int64
 11  company_HP                   391 non-null    int64
 12  company_Huawei               391 non-null    int64
 13  company_LG                   391 non-null    int64
 14  company_Lenovo               391 non-null    int64
 15  company_MSI                  391 non-null    int64
 16  company_Microsoft            391 non-null    int64
 17  company_Razer                391 non-null    int64
 18  company_Samsung              391 non-null    int64
 19  company_Toshiba              391 non-null    int64
 20  company_Vero                 391 non-null    int64
 21  company_Xiaomi               391 non-null    int64
 22  typename_2 in 1 Convertible  391 non-null    int64
 23  typename_Gaming              391 non-null    int64
 24  typename_Netbook             391 non-null    int64
 25  typename_Notebook            391 non-null    int64
 26  typename_Ultrabook           391 non-null    int64
 27  typename_Workstation         391 non-null    int64
 28  screen_4K                    391 non-null    int64
 29  screen_HD                    391 non-null    int64
 30  screen_Touchscreen           391 non-null    int64
 31  screen_Retina                391 non-null    int64
 32  screen_Ultra                 391 non-null    int64
 33  screen_width                 391 non-null    int64
 34  screen_height                391 non-null    int64
 35  cpu_intel                    391 non-null    int64
 36  cpu_amd                      391 non-null    int64
 37  cpu_ghz                      390 non-null    float64
 38  ram_numeric                  391 non-null    int64
 39  memory_HDD                   391 non-null    int64
 40  memory_SSD                   391 non-null    int64
 41  memory_Flash                 391 non-null    int64
 42  memory_HDD_GB                391 non-null    int64
 43  memory_SSD_GB                391 non-null    int64
 44  memory_Flash_GB              391 non-null    int64
dtypes: float64(2), int64(40), object(3)
memory usage: 137.6+ KB

In [1025]:
data_object = 'gpu'
# data = pd.concat([data, pd.get_dummies(data[data_object], prefix=data_object, dtype=int)], axis=1)
data_test.drop(columns=[data_object], inplace=True)
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 44 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           391 non-null    int64
 1   inches                       391 non-null    float64
 2   opsys                        391 non-null    object
 3   weight                       391 non-null    object
 4   company_Acer                 391 non-null    int64
 5   company_Apple                391 non-null    int64
 6   company_Asus                 391 non-null    int64
 7   company_Chuwi                391 non-null    int64
 8   company_Dell                 391 non-null    int64
 9   company_Google               391 non-null    int64
 10  company_HP                   391 non-null    int64
 11  company_Huawei               391 non-null    int64
 12  company_LG                   391 non-null    int64
 13  company_Lenovo               391 non-null    int64
 14  company_MSI                  391 non-null    int64
 15  company_Microsoft            391 non-null    int64
 16  company_Razer                391 non-null    int64
 17  company_Samsung              391 non-null    int64
 18  company_Toshiba              391 non-null    int64
 19  company_Vero                 391 non-null    int64
 20  company_Xiaomi               391 non-null    int64
 21  typename_2 in 1 Convertible  391 non-null    int64
 22  typename_Gaming              391 non-null    int64
 23  typename_Netbook             391 non-null    int64
 24  typename_Notebook            391 non-null    int64
 25  typename_Ultrabook           391 non-null    int64
 26  typename_Workstation         391 non-null    int64
 27  screen_4K                    391 non-null    int64
 28  screen_HD                    391 non-null    int64
 29  screen_Touchscreen           391 non-null    int64
 30  screen_Retina                391 non-null    int64
 31  screen_Ultra                 391 non-null    int64
 32  screen_width                 391 non-null    int64
 33  screen_height                391 non-null    int64
 34  cpu_intel                    391 non-null    int64
 35  cpu_amd                      391 non-null    int64
 36  cpu_ghz                      390 non-null    float64
 37  ram_numeric                  391 non-null    int64
 38  memory_HDD                   391 non-null    int64
 39  memory_SSD                   391 non-null    int64
 40  memory_Flash                 391 non-null    int64
 41  memory_HDD_GB                391 non-null    int64
 42  memory_SSD_GB                391 non-null    int64
 43  memory_Flash_GB              391 non-null    int64
dtypes: float64(2), int64(40), object(2)
memory usage: 134.5+ KB

In [1026]:
data_object = 'opsys'
data_test = pd.concat([data_test, pd.get_dummies(data_test[data_object], prefix=data_object, dtype=int)], axis=1)
data_test.drop(columns=[data_object], inplace=True)
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           391 non-null    int64
 1   inches                       391 non-null    float64
 2   weight                       391 non-null    object
 3   company_Acer                 391 non-null    int64
 4   company_Apple                391 non-null    int64
 5   company_Asus                 391 non-null    int64
 6   company_Chuwi                391 non-null    int64
 7   company_Dell                 391 non-null    int64
 8   company_Google               391 non-null    int64
 9   company_HP                   391 non-null    int64
 10  company_Huawei               391 non-null    int64
 11  company_LG                   391 non-null    int64
 12  company_Lenovo               391 non-null    int64
 13  company_MSI                  391 non-null    int64
 14  company_Microsoft            391 non-null    int64
 15  company_Razer                391 non-null    int64
 16  company_Samsung              391 non-null    int64
 17  company_Toshiba              391 non-null    int64
 18  company_Vero                 391 non-null    int64
 19  company_Xiaomi               391 non-null    int64
 20  typename_2 in 1 Convertible  391 non-null    int64
 21  typename_Gaming              391 non-null    int64
 22  typename_Netbook             391 non-null    int64
 23  typename_Notebook            391 non-null    int64
 24  typename_Ultrabook           391 non-null    int64
 25  typename_Workstation         391 non-null    int64
 26  screen_4K                    391 non-null    int64
 27  screen_HD                    391 non-null    int64
 28  screen_Touchscreen           391 non-null    int64
 29  screen_Retina                391 non-null    int64
 30  screen_Ultra                 391 non-null    int64
 31  screen_width                 391 non-null    int64
 32  screen_height                391 non-null    int64
 33  cpu_intel                    391 non-null    int64
 34  cpu_amd                      391 non-null    int64
 35  cpu_ghz                      390 non-null    float64
 36  ram_numeric                  391 non-null    int64
 37  memory_HDD                   391 non-null    int64
 38  memory_SSD                   391 non-null    int64
 39  memory_Flash                 391 non-null    int64
 40  memory_HDD_GB                391 non-null    int64
 41  memory_SSD_GB                391 non-null    int64
 42  memory_Flash_GB              391 non-null    int64
 43  opsys_Chrome OS              391 non-null    int64
 44  opsys_Linux                  391 non-null    int64
 45  opsys_Mac OS X               391 non-null    int64
 46  opsys_No OS                  391 non-null    int64
 47  opsys_Windows 10             391 non-null    int64
 48  opsys_Windows 10 S           391 non-null    int64
 49  opsys_Windows 7              391 non-null    int64
 50  opsys_macOS                  391 non-null    int64
dtypes: float64(2), int64(48), object(1)
memory usage: 155.9+ KB

In [1027]:
def extract_weight(weight_string):
    match = re.search(r'(\d+(\.\d+)?)', weight_string)
    if match:
        return float(match.group(1))
    return None

data_test['weight_kg'] = data_test['weight'].apply(extract_weight)

data_test.drop(columns=['weight'], inplace=True)

data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           391 non-null    int64
 1   inches                       391 non-null    float64
 2   company_Acer                 391 non-null    int64
 3   company_Apple                391 non-null    int64
 4   company_Asus                 391 non-null    int64
 5   company_Chuwi                391 non-null    int64
 6   company_Dell                 391 non-null    int64
 7   company_Google               391 non-null    int64
 8   company_HP                   391 non-null    int64
 9   company_Huawei               391 non-null    int64
 10  company_LG                   391 non-null    int64
 11  company_Lenovo               391 non-null    int64
 12  company_MSI                  391 non-null    int64
 13  company_Microsoft            391 non-null    int64
 14  company_Razer                391 non-null    int64
 15  company_Samsung              391 non-null    int64
 16  company_Toshiba              391 non-null    int64
 17  company_Vero                 391 non-null    int64
 18  company_Xiaomi               391 non-null    int64
 19  typename_2 in 1 Convertible  391 non-null    int64
 20  typename_Gaming              391 non-null    int64
 21  typename_Netbook             391 non-null    int64
 22  typename_Notebook            391 non-null    int64
 23  typename_Ultrabook           391 non-null    int64
 24  typename_Workstation         391 non-null    int64
 25  screen_4K                    391 non-null    int64
 26  screen_HD                    391 non-null    int64
 27  screen_Touchscreen           391 non-null    int64
 28  screen_Retina                391 non-null    int64
 29  screen_Ultra                 391 non-null    int64
 30  screen_width                 391 non-null    int64
 31  screen_height                391 non-null    int64
 32  cpu_intel                    391 non-null    int64
 33  cpu_amd                      391 non-null    int64
 34  cpu_ghz                      390 non-null    float64
 35  ram_numeric                  391 non-null    int64
 36  memory_HDD                   391 non-null    int64
 37  memory_SSD                   391 non-null    int64
 38  memory_Flash                 391 non-null    int64
 39  memory_HDD_GB                391 non-null    int64
 40  memory_SSD_GB                391 non-null    int64
 41  memory_Flash_GB              391 non-null    int64
 42  opsys_Chrome OS              391 non-null    int64
 43  opsys_Linux                  391 non-null    int64
 44  opsys_Mac OS X               391 non-null    int64
 45  opsys_No OS                  391 non-null    int64
 46  opsys_Windows 10             391 non-null    int64
 47  opsys_Windows 10 S           391 non-null    int64
 48  opsys_Windows 7              391 non-null    int64
 49  opsys_macOS                  391 non-null    int64
 50  weight_kg                    391 non-null    float64
dtypes: float64(3), int64(48)
memory usage: 155.9 KB

In [1028]:
data_test.isna().sum()

id                             0
inches                         0
company_Acer                   0
company_Apple                  0
company_Asus                   0
company_Chuwi                  0
company_Dell                   0
company_Google                 0
company_HP                     0
company_Huawei                 0
company_LG                     0
company_Lenovo                 0
company_MSI                    0
company_Microsoft              0
company_Razer                  0
company_Samsung                0
company_Toshiba                0
company_Vero                   0
company_Xiaomi                 0
typename_2 in 1 Convertible    0
typename_Gaming                0
typename_Netbook               0
typename_Notebook              0
typename_Ultrabook             0
typename_Workstation           0
screen_4K                      0
screen_HD                      0
screen_Touchscreen             0
screen_Retina                  0
screen_Ultra                   0
screen_width                   0
screen_height                  0
cpu_intel                      0
cpu_amd                        0
cpu_ghz                        1
ram_numeric                    0
memory_HDD                     0
memory_SSD                     0
memory_Flash                   0
memory_HDD_GB                  0
memory_SSD_GB                  0
memory_Flash_GB                0
opsys_Chrome OS                0
opsys_Linux                    0
opsys_Mac OS X                 0
opsys_No OS                    0
opsys_Windows 10               0
opsys_Windows 10 S             0
opsys_Windows 7                0
opsys_macOS                    0
weight_kg                      0
dtype: int64

In [1029]:
median_values = data_test.median()

data_test = data_test.fillna(median_values)

In [1030]:
data_test.isna().sum()

id                             0
inches                         0
company_Acer                   0
company_Apple                  0
company_Asus                   0
company_Chuwi                  0
company_Dell                   0
company_Google                 0
company_HP                     0
company_Huawei                 0
company_LG                     0
company_Lenovo                 0
company_MSI                    0
company_Microsoft              0
company_Razer                  0
company_Samsung                0
company_Toshiba                0
company_Vero                   0
company_Xiaomi                 0
typename_2 in 1 Convertible    0
typename_Gaming                0
typename_Netbook               0
typename_Notebook              0
typename_Ultrabook             0
typename_Workstation           0
screen_4K                      0
screen_HD                      0
screen_Touchscreen             0
screen_Retina                  0
screen_Ultra                   0
screen_width                   0
screen_height                  0
cpu_intel                      0
cpu_amd                        0
cpu_ghz                        0
ram_numeric                    0
memory_HDD                     0
memory_SSD                     0
memory_Flash                   0
memory_HDD_GB                  0
memory_SSD_GB                  0
memory_Flash_GB                0
opsys_Chrome OS                0
opsys_Linux                    0
opsys_Mac OS X                 0
opsys_No OS                    0
opsys_Windows 10               0
opsys_Windows 10 S             0
opsys_Windows 7                0
opsys_macOS                    0
weight_kg                      0
dtype: int64

In [1031]:

data_test_copy = data_test.drop('id', axis=1)
# features = ['company_Fujitsu', 'company_Mediacom', 'opsys_Android']
# for feature in features:
#     if feature not in data_test.columns:
#         data_test[feature] = 0

In [1032]:
data_test_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       391 non-null    float64
 1   company_Acer                 391 non-null    int64
 2   company_Apple                391 non-null    int64
 3   company_Asus                 391 non-null    int64
 4   company_Chuwi                391 non-null    int64
 5   company_Dell                 391 non-null    int64
 6   company_Google               391 non-null    int64
 7   company_HP                   391 non-null    int64
 8   company_Huawei               391 non-null    int64
 9   company_LG                   391 non-null    int64
 10  company_Lenovo               391 non-null    int64
 11  company_MSI                  391 non-null    int64
 12  company_Microsoft            391 non-null    int64
 13  company_Razer                391 non-null    int64
 14  company_Samsung              391 non-null    int64
 15  company_Toshiba              391 non-null    int64
 16  company_Vero                 391 non-null    int64
 17  company_Xiaomi               391 non-null    int64
 18  typename_2 in 1 Convertible  391 non-null    int64
 19  typename_Gaming              391 non-null    int64
 20  typename_Netbook             391 non-null    int64
 21  typename_Notebook            391 non-null    int64
 22  typename_Ultrabook           391 non-null    int64
 23  typename_Workstation         391 non-null    int64
 24  screen_4K                    391 non-null    int64
 25  screen_HD                    391 non-null    int64
 26  screen_Touchscreen           391 non-null    int64
 27  screen_Retina                391 non-null    int64
 28  screen_Ultra                 391 non-null    int64
 29  screen_width                 391 non-null    int64
 30  screen_height                391 non-null    int64
 31  cpu_intel                    391 non-null    int64
 32  cpu_amd                      391 non-null    int64
 33  cpu_ghz                      391 non-null    float64
 34  ram_numeric                  391 non-null    int64
 35  memory_HDD                   391 non-null    int64
 36  memory_SSD                   391 non-null    int64
 37  memory_Flash                 391 non-null    int64
 38  memory_HDD_GB                391 non-null    int64
 39  memory_SSD_GB                391 non-null    int64
 40  memory_Flash_GB              391 non-null    int64
 41  opsys_Chrome OS              391 non-null    int64
 42  opsys_Linux                  391 non-null    int64
 43  opsys_Mac OS X               391 non-null    int64
 44  opsys_No OS                  391 non-null    int64
 45  opsys_Windows 10             391 non-null    int64
 46  opsys_Windows 10 S           391 non-null    int64
 47  opsys_Windows 7              391 non-null    int64
 48  opsys_macOS                  391 non-null    int64
 49  weight_kg                    391 non-null    float64
dtypes: float64(3), int64(47)
memory usage: 152.9 KB

In [1033]:
X_test = data_test_copy

X_test = X_test.dropna()

X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   inches                       391 non-null    float64
 1   company_Acer                 391 non-null    int64
 2   company_Apple                391 non-null    int64
 3   company_Asus                 391 non-null    int64
 4   company_Chuwi                391 non-null    int64
 5   company_Dell                 391 non-null    int64
 6   company_Google               391 non-null    int64
 7   company_HP                   391 non-null    int64
 8   company_Huawei               391 non-null    int64
 9   company_LG                   391 non-null    int64
 10  company_Lenovo               391 non-null    int64
 11  company_MSI                  391 non-null    int64
 12  company_Microsoft            391 non-null    int64
 13  company_Razer                391 non-null    int64
 14  company_Samsung              391 non-null    int64
 15  company_Toshiba              391 non-null    int64
 16  company_Vero                 391 non-null    int64
 17  company_Xiaomi               391 non-null    int64
 18  typename_2 in 1 Convertible  391 non-null    int64
 19  typename_Gaming              391 non-null    int64
 20  typename_Netbook             391 non-null    int64
 21  typename_Notebook            391 non-null    int64
 22  typename_Ultrabook           391 non-null    int64
 23  typename_Workstation         391 non-null    int64
 24  screen_4K                    391 non-null    int64
 25  screen_HD                    391 non-null    int64
 26  screen_Touchscreen           391 non-null    int64
 27  screen_Retina                391 non-null    int64
 28  screen_Ultra                 391 non-null    int64
 29  screen_width                 391 non-null    int64
 30  screen_height                391 non-null    int64
 31  cpu_intel                    391 non-null    int64
 32  cpu_amd                      391 non-null    int64
 33  cpu_ghz                      391 non-null    float64
 34  ram_numeric                  391 non-null    int64
 35  memory_HDD                   391 non-null    int64
 36  memory_SSD                   391 non-null    int64
 37  memory_Flash                 391 non-null    int64
 38  memory_HDD_GB                391 non-null    int64
 39  memory_SSD_GB                391 non-null    int64
 40  memory_Flash_GB              391 non-null    int64
 41  opsys_Chrome OS              391 non-null    int64
 42  opsys_Linux                  391 non-null    int64
 43  opsys_Mac OS X               391 non-null    int64
 44  opsys_No OS                  391 non-null    int64
 45  opsys_Windows 10             391 non-null    int64
 46  opsys_Windows 10 S           391 non-null    int64
 47  opsys_Windows 7              391 non-null    int64
 48  opsys_macOS                  391 non-null    int64
 49  weight_kg                    391 non-null    float64
dtypes: float64(3), int64(47)
memory usage: 152.9 KB

In [1034]:
X_test.describe()

,inches,company_Acer,company_Apple,company_Asus,company_Chuwi,company_Dell,company_Google,company_HP,company_Huawei,company_LG,...,memory_Flash_GB,opsys_Chrome OS,opsys_Linux,opsys_Mac OS X,opsys_No OS,opsys_Windows 10,opsys_Windows 10 S,opsys_Windows 7,opsys_macOS,weight_kg
count,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,...,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000
mean,15.030691,0.071611,0.010230,0.127877,0.002558,0.230179,0.002558,0.217391,0.002558,0.005115,...,2.987212,0.017903,0.038363,0.005115,0.056266,0.833760,0.010230,0.033248,0.005115,2.054179
std,1.461446,0.258173,0.100755,0.334381,0.050572,0.421487,0.050572,0.412999,0.050572,0.071428,...,17.775735,0.132768,0.192318,0.071428,0.230730,0.372773,0.100755,0.179513,0.071428,0.692613
min,11.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.910000
25%,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.490000
50%,15.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.050000
75%,15.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.345000
max,17.300000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,256.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.700000

In [1035]:
predicciones = model.predict(X_test)

In [1036]:
print(predicciones.shape)
print(predicciones)

(391,)
[2513.57594925  635.57618921  381.25626391 1460.51985635 1082.20423449
 1700.84043763 3072.80658892  490.60349646 4725.90406996 1402.51200874
 1440.95789144  665.57796313  337.00217327  580.38986987  341.41155819
  999.64163631  715.17497473 1518.03860352 1229.53176067 1613.03407163
 1550.93846153  988.95890115 1476.29590771 1078.99301309 1792.34231966
  436.70313592  781.66119487  338.0719289  1101.75769017  466.60952436
 1222.55523149 1119.03531795 1716.3183712   377.91792868  452.48338428
 1813.39792708  853.72444064  665.72021171 2850.51528195  377.48507089
  759.78334898  791.21980803 1523.87599475 1765.87965771 1113.73837239
 1328.497615    393.37416902 3178.83967748   88.95702337 1681.44570751
 1105.02469621  768.70384724  854.31614781  310.61494237 1262.00882335
  577.59884705  705.22667901  270.5977999   963.36016977 1284.50126775
 1438.03246618 1193.26804759  815.92806846 1019.05165563 1066.94114695
 1559.68334654  695.28128276 2098.84815534  464.20164991 2153.92671739
 1033.53144684 2592.54311218 1818.18901516 1085.75313027 1106.47517737
 1040.51927657  909.22999066  351.93979737 1158.83917895  940.50557324
  318.12782588 2066.69947533 1502.31847209  721.06918309 1246.00677301
 1501.36986406 1885.44568154  356.19147854 2591.81822355  573.60457332
  560.14751663  510.66491609 1284.50126775 1109.73070216 2704.87044397
  577.00827845 2541.51152513 1016.40187103 1111.15792254  955.11956927
  704.6756317   415.2847086  1554.37814465 1386.69873271  740.84437796
 1179.61504163  754.31387271  422.75909763 1417.33195839 1151.77479607
 1062.17154028  843.36781254  356.03485951  602.72547169 1131.4668893
 1792.34231966  895.38471701 1208.07733929  901.11060755 1776.86317579
  541.46196738 1243.13120791  949.97936608 1696.4842781   250.13560046
 1344.67698413 2070.9604961  2094.07123138 1807.53993408 1160.65894356
 1042.62099775  998.8590002   213.89450819 1398.97062495  703.47805649
  638.02264191  465.83718155 2045.46054721 1371.05693111  652.54163453
  767.41840045 2092.27833291 1902.21742102 1075.06768774 2480.24165235
 1095.89782592 1105.79604544  677.13299341  990.24306622 3034.04843773
  861.36441697  774.94307339 1519.58543726  624.42051976 1298.27547938
 1034.73199118 2390.14023529  390.73677387  566.96256059 1399.08882781
 2613.67094341  609.54232532 1445.81475871 2489.44285962 1792.34231966
 1824.89087239 1411.40681719 2118.41572128 1179.61504163  351.93979737
 2151.03742774 2520.9347512  1985.26625294  596.94976154 2618.2022117
 1210.20308249  985.91708334 1046.98764102 2775.76763182 1819.34368485
  535.80393701 2853.98611171  446.29673344  316.93458896  843.25530022
 1147.48241334 1117.22845032  955.04170144  538.46314953 1731.35914269
 1864.39007412  844.92679821 1018.82425827 1250.77056323  394.97459238
 1354.8244233  1616.19743238  980.81959812 1360.85173237 1810.25775797
  991.87117047 1680.13088862 1012.55144019 1986.09436332 1252.55794846
  347.61848735  400.30994316  445.5622491   817.95135488 1868.90921608
  865.0143586   893.83462477 1859.03951657 1000.19759758  439.12994301
  957.38585962  555.96589289 1328.79171338 1061.85319404  624.16342901
 2112.71496676 1147.95235525 1580.19118777 1118.23836355  891.37444214
 2447.55711401 1971.87028053  762.91157679  482.27126691  651.41484906
  867.90737694  992.16983786 2070.9604961  1177.60554654 1243.63954779
  942.34102339 1305.25856278  943.47441283  -84.78378764  438.56850577
 2357.71366049  493.58543046 1292.00975682 1308.56651656 1977.12719842
 1076.88745235 1120.05932359 2003.96348302  650.48243164 1647.93172251
 1416.4563876  1113.78764562 1753.38748603 1022.31587055 1844.31477297
 1158.83917895  343.68602202 1198.87814402 1285.54710909  834.95165968
 1123.20978868  858.88767549  822.94837343  570.76021528 1783.63974504
 1254.4342004  2432.91691703 1863.59529223  991.14990775 1317.23452293
  938.53456439  555.96589289 1054.23754955 1371.05693111 1395.21876877
  345.78642099 1829.05224023  607.33391365 1652.93164469  668.13446235
 2227.92124199 1495.23770586 1006.11945088  341.76943349  331.11106122
  651.41484906 1118.54772872  525.32546063 1002.94555729 1055.55390395
  614.1237802  1484.26819263 1328.79171338 1948.13939863 2159.34152417
  760.0070204   930.94994083  836.04644842 1034.2810527   536.6734373
  745.1673735  1274.6421878  1134.38790246 1967.35081818  759.78334898
 1998.8253245  1664.03349824 1559.3607045   372.50887238  246.21885173
  991.62009115 1565.62249021  733.11775352  334.26618467  600.1504275
  718.66792017 2034.61269916 2630.99624711 1801.12066803  794.22944941
 1396.74111586 1547.22597534 2292.88597564 2016.01648217 1022.84607432
 1435.28728579 1567.86120849  229.85524322  626.82445826  347.61848735
  978.02886202   78.09469655  928.08019823  417.02428925  793.47052304
  991.41575754 2076.4089478  1348.86793424  379.92940876 1074.5375797
  655.63962789 2111.27442435  193.69104896 1387.8936663   894.93377853
  706.04981376  807.91170608 1616.51179255 1706.0622427  1320.06478407
  963.24139451 1155.44792199  416.92308854 1362.58236283 1100.33441664
  624.42051976  810.71044498 1957.64700993  759.55787974 1376.41569296
   91.55728671 1974.92834569  606.44525855 1050.37889798 1924.56562881
  879.53060656  628.60796633 1907.26172796  821.57277179  445.5622491
  327.70713462 1111.73586169  810.71044498 1269.82175787  331.90037339
 1307.20765788 1126.89674782  505.21586736  462.06618416  996.39876
 1348.86793424  447.49809382 1316.92461495  449.14192893 2086.48581303
  842.72761366 1079.43842088 2060.98436399  472.07923584  245.28729605
 1301.8206782 ]

In [1037]:
df = pd.DataFrame()
df['ID'] = data_test['id']
df2 = pd.DataFrame(predicciones, columns=['Price_euros'])
df = pd.concat([df, df2], axis=1)
df['Price_euros'] = df['Price_euros'].round(1)
df.describe()

                ID  Price_euros
count   391.000000   391.000000
mean    646.074169  1166.706394
std     372.500700   647.456799
min      18.000000   -84.800000
25%     335.000000   672.600000
50%     629.000000  1074.500000
75%     955.500000  1521.750000
max    1319.000000  4725.900000

In [1038]:
import csv
import os
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Construct the filename
filename = f"submission_dgerwig_{current_datetime.strftime('%Y_%m_%d__%H_%M')}.csv"

# Directory where the file will be saved
directory = "submissions"

# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Full path for the file
filepath = os.path.join(directory, filename)


df.to_csv(filepath, index=False)


print(f"âœ… File '{filepath}' generated successfully.")

âœ… File 'submissions\submission_dgerwig_2024_07_20__12_19.csv' generated successfully.

#### EVALUATE

#### SUBMMIT

In [1039]:
import os
import glob

def get_most_recent_file(directory):
    # Ensure the directory path uses the correct separator
    directory = os.path.abspath(directory)
    files = glob.glob(os.path.join(directory, "*"))
    if not files:
        return None
    return max(files, key=os.path.getmtime)

directory = "./submissions"
most_recent_file = get_most_recent_file(directory)

if most_recent_file is None:
    print("No files found in the submissions directory.")
else:
    print(f"Most recent file: {most_recent_file}")

Most recent file: c:\Users\diego\OneDrive\code_dgerwig\Kaggle\TheBridge\laptops_market\submissions\submission_dgerwig_2024_07_20__12_19.csv