# Show me the money!üí∏
# ¬°Ense√±ame la Pasta!üí∏
## La Batalla Anal√≠tica bancaria üí∏üìä

### Overview
¬°Prep√°rate para sumergirte en el fascinante mundo de los pr√©stamos bancarios con un grito audaz: "¬°Ense√±ame la Pasta!" Esta competici√≥n desafiar√° tus habilidades anal√≠ticas mientras te sumerges en conjuntos de datos intrigantes y navegas por las olas financieras.

üí° Desaf√≠o Anal√≠tico: Tu misi√≥n es desentra√±ar los secretos detr√°s de cada solicitud de pr√©stamo. Descubre patrones, identifica oportunidades y muestra al mundo que tienes lo necesario para destacar en la batalla anal√≠tica.

üèÅ Carrera hacia la Precisi√≥n: Enfr√©ntate a la competencia y demuestra que tu modelo puede superar las decisiones humanas. ¬øPuedes prever qui√©n merece un pr√©stamo y qui√©n noü§∑‚Äç‚ôÇÔ∏è? ¬°La carrera hacia la precisi√≥n est√° en marcha!

¬°Mucha suerte en la batalla! ü¶æ

### Description
Tal y como sucede en otras competiciones de Kaggle, deber√©is centraros en disponer un buen modelo basado en el conjunto de datos de entrenamiento (train.csv) y ver si gracias al buen trabajo realizado obten√©is una buena predicci√≥n sobre el conjunto de evaluaci√≥n (test.csv). No dispondr√©is de las clasificaciones asociadas al conjunto de set con lo que hasta no subir vuestros datos a la plataforma no sabr√©is c√≥mo de bueno es vuestro modelo en realidad.

### Evaluation
En esta competici√≥n, evaluaremos la eficacia de los modelos utilizando la m√©trica Area Under Curve (AUC). Esta m√©trica proporciona una medida de la capacidad del modelo para discriminar entre clases, siendo especialmente relevante en problemas de clasificaci√≥n binaria.

Para obtener m√°s detalles sobre la interpretaci√≥n y aplicaci√≥n de AUC, te recomendamos explorar el siguiente enlace: Understanding AUC-ROC Curve. Este recurso proporcionar√° una comprensi√≥n m√°s profunda de c√≥mo se utiliza AUC para evaluar y comparar el rendimiento de los modelos en esta competici√≥n. ¬°Explora y prep√°rate para destacar en la puntuaci√≥n AUC! üìäüéØ

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error, root_mean_squared_error

### DATASETS

In [21]:
dtr = pd.read_csv('./data/train.csv')
dte = pd.read_csv('./data/test.csv')

In [22]:
dtr.head()

,ID,RevolvingUtilizationOfUnsecuredLines,Age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
0,9580,0.668999,58,2,0.449504,3425.0,9,1,1,1,1.0,0
1,39755,0.015922,71,0,6.000000,NaN,5,0,0,0,0.0,0
2,118799,0.183062,52,1,0.035593,5000.0,9,0,0,0,0.0,0
3,16489,0.162301,77,0,0.227886,2000.0,8,0,0,0,0.0,0
4,149857,0.404199,30,0,0.026010,5843.0,4,0,0,0,0.0,0

In [23]:
dtr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105000 entries, 0 to 104999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ID                                    105000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  105000 non-null  float64
 2   Age                                   105000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  105000 non-null  int64
 4   DebtRatio                             105000 non-null  float64
 5   MonthlyIncome                         84164 non-null   float64
 6   NumberOfOpenCreditLinesAndLoans       105000 non-null  int64
 7   NumberOfTimes90DaysLate               105000 non-null  int64
 8   NumberRealEstateLoansOrLines          105000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  105000 non-null  int64
 10  NumberOfDependents                    102236 non-null  float64
 11  SeriousDlqin2yrs                      105000 non-null  int64
dtypes: float64(4), int64(8)
memory usage: 9.6 MB

In [24]:
dtr.describe()

,ID,RevolvingUtilizationOfUnsecuredLines,Age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
count,105000.000000,105000.000000,105000.000000,105000.000000,105000.000000,8.416400e+04,105000.000000,105000.000000,105000.000000,105000.000000,102236.000000,105000.000000
mean,75006.458152,5.378324,52.325610,0.409352,352.044192,6.703641e+03,8.459952,0.254619,1.019010,0.228762,0.757933,0.066514
std,43315.742022,201.573457,14.766425,4.056717,1820.229318,1.622288e+04,5.134329,4.032506,1.131065,4.017864,1.115273,0.249180
min,1.000000,0.000000,21.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37590.750000,0.029974,41.000000,0.000000,0.174950,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,74941.500000,0.154252,52.000000,0.000000,0.366061,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,112542.500000,0.556035,63.000000,0.000000,0.870083,8.250000e+03,11.000000,0.000000,2.000000,0.000000,1.000000,0.000000
max,149999.000000,29110.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000,1.000000

### DATA CLEANING

In [25]:
dtr.isnull().sum()

ID                                          0
RevolvingUtilizationOfUnsecuredLines        0
Age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           20836
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       2764
SeriousDlqin2yrs                            0
dtype: int64

In [26]:
# dtr.dropna(inplace=True)

median_values = dtr.median()
dtr = dtr.fillna(median_values)

In [27]:
dtr.isnull().sum()

ID                                      0
RevolvingUtilizationOfUnsecuredLines    0
Age                                     0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
SeriousDlqin2yrs                        0
dtype: int64

In [28]:
dtr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105000 entries, 0 to 104999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ID                                    105000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  105000 non-null  float64
 2   Age                                   105000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  105000 non-null  int64
 4   DebtRatio                             105000 non-null  float64
 5   MonthlyIncome                         105000 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       105000 non-null  int64
 7   NumberOfTimes90DaysLate               105000 non-null  int64
 8   NumberRealEstateLoansOrLines          105000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  105000 non-null  int64
 10  NumberOfDependents                    105000 non-null  float64
 11  SeriousDlqin2yrs                      105000 non-null  int64
dtypes: float64(4), int64(8)
memory usage: 9.6 MB

### DATA TRAINING

### PREDICT

In [29]:
import csv
import os
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Construct the filename
filename = f"submission_dgerwig_{current_datetime.strftime('%Y_%m_%d__%H_%M')}.csv"

# Directory where the file will be saved
directory = "submissions"

# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Full path for the file
filepath = os.path.join(directory, filename)


df.to_csv(filepath, index=False)


print(f"‚úÖ File '{filepath}' generated successfully.")

NameError: name 'df' is not defined